<div class="navbar" [ngClass]="menuIsToggled ? 'menu-show-height' : ''">
    <div class="nav-headline">
        <div class="navbar-logo"><h4 ngNonBindable>{{TN}}</h4></div>
        <div (click)="toggleMenu()" class="navbar-hmenu" [ngStyle]="data.formShow == false ? {'display': 'none'} : {'display': 'flex'}">
            <img [src]="hmenuImg" alt="hamburger-menu">
        </div>
    </div>
    <div class="navbar-menu" [ngClass]="menuIsToggled ? 'menu-show' : 'menu-hide'">
        <div class="button-div">
            <button #enButton (click)="changeLaguage('en')"><p>EN</p></button>
            <span>---</span>
            <button #deButton (click)="changeLaguage('de')"><p>DE</p></button>
        </div>
        <a routerLink="/home" (click)="toggleMenu(); data.scrollToFragment('#aboutMe')">
            <h2 class="syne-700-40-96">{{'header.menu1' | translate}}</h2>
        </a>
        <a routerLink="/home" (click)="toggleMenu(); data.scrollToFragment('#mySkills')">
            <h2 class="syne-700-40-96">{{'header.menu2' | translate}}</h2>
        </a>
        <a routerLink="/home" (click)="toggleMenu(); data.scrollToFragment('#portfolio')">
            <h2 class="syne-700-40-96">{{'header.menu3' | translate}}</h2>
        </a>
        <div class="placeholder-navbar"></div>
    </div>
</div>