<div class="navbar" [ngClass]="menuIsToggled ? 'menu-show-height' : ''">
    <div class="nav-headline">
        <div class="navbar-logo"><h4 ngNonBindable>{{TN}}</h4></div>
        <div (click)="toggleMenu()" class="navbar-hmenu">
            <img [src]="hmenuImg" alt="hamburger-menu">
        </div>
    </div>
    <div class="navbar-menu" [ngClass]="menuIsToggled ? 'menu-show' : 'menu-hide'">
        <a routerLink="/home" (click)="toggleMenu(); scrollToFragment('#aboutMe')">
            <h2 class="syne-700-45-96">About me</h2>
        </a>
        <a routerLink="/home" (click)="toggleMenu(); scrollToFragment('#mySkills')">
            <h2 class="syne-700-45-96">My skills</h2>
        </a>
        <a routerLink="/home" (click)="toggleMenu(); scrollToFragment('#portfolio')">
            <h2 class="syne-700-45-96">Portfolio</h2>
        </a>
        <div class="placeholder-navbar"></div>
    </div>
</div>