@import './../../../../styles.scss';

.navbar {
    position: sticky;
    top: 0;
    z-index: 3;
    @include dFlex($direction: column);
    color: $text-black;
    background: $bc-primary;
}

.nav-headline {
    @include dFlex($direction: row, $jc: space-between);
    padding: 30px 100px;
}

.navbar-logo {
    color: $text-black;
}

.navbar-hmenu {
    >img {
        width: 40px;
        height: 32px;
    }

    &:hover {
        cursor: pointer;
    }
}

.navbar-menu {
    position: absolute;
    height: calc(100svh - 96px);
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: $bc-primary;
    @include dFlex($direction: column, $ai: center, $jc: space-between);

    a {
        text-decoration: none;
        color: $text-black;
        text-align: center;
    }

    h2 {
        font-size: 96px;
        font-weight: 700;
        width: 556px;
        border-left: $border-black solid 4px;
        border-right: transparent solid 4px;
        border-top: transparent solid 4px;
        border-bottom: $border-black solid 4px;

        &:active {
            border-right: $border-black solid 4px;
            border-top: $border-black solid 4px;
        }

        &:hover {
            border-left-color: transparent;
        }
    }
}

.menu-hide {
    display: none;
}

.menu-show {
    display: flex;
}

.placeholder-navbar {
    width: 100%;
    height: 182px;
    background: linear-gradient(7deg, $bc-secondery 50%, $bc-primary 50%);
}

@media only screen and (max-width: 960px) {
    .nav-headline {
        padding: 30px 50px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-headline {
        padding: 30px 25px;
    }
}