@import './../../../../styles.scss';

@keyframes hover-slide {
    from {
        width: 100%;
        left: 0;
    }

    to {
        width: 40%;
        left: 60%;
    }
}

button {
    background: $bc-primary;
    height: 36px;
    width: 50px;
    border: none;
    color: $text-black;

    &:hover {
        cursor: pointer;
        border: solid 2px $text-secondery;
    }

    &:focus {
        color: $text-secondery;
        border: solid 2px $text-secondery;
        outline: none;
    }
}

#enButton:focus {
    color: $text-secondery;
    border: solid 2px $text-secondery;
}

.button-div {
    >span {
        color: $text-primary;
    }
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 3;
    @include dFlex($direction: column);
    color: $text-black;
    background: $bc-primary;
}

.nav-headline {
    @include dFlex($direction: row, $jc: space-between);
    padding: 30px 100px;
}

.navbar-logo {
    color: $text-black;
}

.navbar-hmenu {
    >img {
        width: 40px;
        height: 32px;
    }

    &:hover {
        cursor: pointer;
    }
}

.navbar-menu {
    position: absolute;
    height: calc(100svh - 96px);
    top: 96px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: $bc-primary;
    @include dFlex($direction: column, $ai: center, $jc: space-between);

    a {
        position: relative;
        text-decoration: none;
        color: $text-black;
        text-align: center;
        width: 55%;
        max-width: 556px;
        padding: 35px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 25%;
            width: 5%;
            border-bottom: 4px solid $border-black;
            border-left: 4px solid $border-black;
        }

        &:hover::before {
            height: 0px;
            animation: hover-slide 100ms forwards;
        }

        &:active::before {
            animation: none;
            height: 100%;
            width: 100%;
            border: 4px solid $border-black;
        }
    }
}

.menu-hide {
    display: none;
}

.menu-show {
    display: flex;
}

.placeholder-navbar {
    width: 100%;
    height: 182px;
    background: linear-gradient(7deg, $bc-secondery 50%, $bc-primary 50%);
}

@media only screen and (max-width: 960px) {
    .nav-headline {
        padding: 30px 50px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-headline {
        padding: 30px 25px;
    }

    .navbar-menu {
        a {
            width: 65%;
            padding: 25px;
        }
    }
}