@import './../../../styles.scss';

.arrow-position {
    background: $bc-primary;
    @include dFlex($ai: start);
    padding: 0 100px;
    height: 300px;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.arrow-animation{
    @include dFlex($ai: start, $jc: end);
    height: 100%;
    width: 307px; 
}

.rotate-arrow {
    rotate: 270deg;
}


.bottom {
    @include dFlex($ai: end, $jc: start);
}
