@import './../../../styles.scss';

.my-skills {
    background: $bc-primary;
    position: relative;
    @include dFlex($ai: center, $direction: column);
}

.my-skills-headline {
    position: absolute;
}

.my-skills-collection {
    border: 4px solid $border-black;
}

.my-skills-icons {
    @include dFlex($ai: center);
}

.my-skills-skill {
    @include dFlex($direction: column);

    >img {
        height: 75px;
        width: 75px;
    }
}