@import './../../../styles.scss';



@keyframes circle {
    0% {
        padding-left: 0;
        height: 75px;
    }

    15% {
        padding-left: 0;
        height: 60px;
    }

    30% {
        padding-left: 51px;
        height: 60px;
    }

    45% {
        padding-left: 70px;
        height: 44px;
    }

    60% {
        padding-left: -21px;
        height: 44px;
    }

    75% {
        padding-left: -16px;
        height: 60px;
    }

    100% {
        padding-left: 0;
        height: 75px;
    }


}

.my-skills {
    scroll-margin-top: 96px;
    background: $bc-primary;
    position: relative;
    @include dFlex($ai: center, $direction: column);
    /* TODO: change padding writing 22px 100px + responsive  */
    padding: 22px 100px 22px;
}

.placeholder {
    position: relative;
    top: 37px;
    height: 78px;
    width: 100%;
    @include dFlex($ai: center, $jc: center);
    margin-top: -37px;
}

.my-skills-headline {
    background: $bc-primary;
    padding:  0 10px;
}

.my-skills-collection {
    border: 4px solid $border-black;
    padding: 120px 0;
    width: 100%;
}

.my-skills-icons {
    width: 100%;
    max-width: 1238px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 128px;
    row-gap: 70.5px;
}

.my-skills-skill {
    width: 100px;
    @include dFlex($direction: column, $ai: center);
    gap: 10px;
    text-align: center;
    overflow: hidden;

    >p {
        font-size: 16px;
        font-weight: 700;

        &:hover {
            color: $text-secondery;
            transition: color 50ms linear;
        }
    }

    /* TODO: build new animation and FIXME: scss */
    &:hover {

        >div {
            >img {
                animation: circle 500ms ease-out;
            }
        }
    }
}

.my-skills-contact {
    @include dFlex($jc: center);
    padding: 42px 10px 0;
    gap: 16px;

    >div {
        @include dFlex($ai: end)
    }

    a {
        font-size: 22px;
        font-family: 'Overpass';
        text-decoration: none;
        color: $text-secondery;
        padding: 0 10px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: 8px;
            font-weight: 700;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .my-skills-contact {
        align-items: center;

        >div {
            @include dFlex($direction: column, $ai: start, $jc: center);
        }

        a {
            font-size: 20px;
            padding: 5px 0;
        }

        p {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 960px) {
    .my-skills {
        padding: 22px 50px 22px;
    }

    .my-skills-collection {
        padding: 60px 0;
    }

    .my-skills-icons {
        column-gap: 64px;
        row-gap: 36px;
    }

    .my-skills-skill {
        width: 100px;
        @include dFlex($direction: column, $ai: center);
        gap: 10px;
        text-align: center;

        >img {
            height: 60px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .my-skills {
        padding: 22px 25px 22px;
    }

    .my-skills-collection {
        padding: 48px 0;
    }

    .my-skills-icons {
        column-gap: 32px;
        row-gap: 18px;
    }
}