@import './../../../styles.scss';

.about-me {
    @include dFlex();
    padding: 102px 100px 0;
    height: 681px;
    background: $bc-primary;
}

.about-me-info {
    width: 50%;
    @include dFlex($direction: column);
    gap: 48px;

    >h2 {
        &:hover {
            color: $text-secondery;
            transition: color 50ms linear;
        }
    }

    >div {
        @include dFlex($jc: center, $direction: column);
        gap: 16px;

        >p {
            @include dFlex($ai: center);
            gap: 8px;
        }
    }
}

.about-me-button {
    align-items: center!important;

    >a {
        text-decoration: none;
        color: $text-black;
        font: 400 23px 'Overpass';
        padding: 20px 60px;
        border: solid 4px $border-black;
        background: transparent;

        &:hover {
            cursor: pointer;
            font-weight: 800;
            padding: 20px 80px;
            transition: padding 100ms ease-in-out;
        }
    }
}

.about-me-img {
    position: relative;
    width: 50%;
    @include dFlex($jc: flex-end, $ai: flex-end);

    >img {
        width: 533px;
        height: 533px;
        padding: 0 20px 20px 0;
    }

    .about-me-outline {
        display: block;
        position: absolute;
        width: 533px;
        height: 533px;
        outline: 4px solid transparent;
    }

    .about-me-outline-color {
        outline-color: $border-black;
        transition: outline-color 50ms linear;
    }
}