<section class="about-me" #aboutMe id="aboutMe">
    <h2>{{'aboutMe.headline' | translate}}</h2>
    <div>
        <div class="about-me-info">
            <p>{{'aboutMe.description1' | translate}}<br><br>{{'aboutMe.description2' | translate}}</p>
            <div>
                <p><img src="./assets/img/aboutMe/house.svg" alt="house img">{{'aboutMe.based' | translate}}</p>
                <p><img src="./assets/img/aboutMe/laptop.svg" alt="laptop img">{{'aboutMe.officeStatus' | translate}}</p>
            </div>
            <div class="about-me-button">
                <a href="#footer">{{'aboutMe.button' | translate}}</a>
            </div>
        </div>
        <div class="about-me-img">
            <img (mouseenter)="toggleHover()" (mouseleave)="toggleHover()"
                src="./assets/img/aboutMe/tobias_noelle.png" alt="">
            <div class="about-me-outline" (mouseenter)="toggleHover()" (mouseleave)="toggleHover()"
                [class]="isHover ? 'about-me-outline-color' : ''">
            </div>
        </div>
    </div>
</section>