@import './../../../styles.scss';

.about-me{
    @include dFlex();
    padding: 0 100px;
    width: 100%;
    max-width: 1259px;
    height: 681px;
    background: $bc-primary;
}

.about-me-info{
    width: 50%;
    @include dFlex($direction: column);
    gap: 48px;

    > div{
        @include dFlex($jc: center, $direction: column);
        gap: 16px;

        > p{
            @include dFlex($ai: center);
            gap: 8px;
        }
    }
}

.about-me-img{
    width: 50%;
    @include dFlex($jc:flex-end, $ai:flex-end);

    > img{
        width: 533px;
        height: 533px;
        padding: 0 20px 20px 0;
    }
}