@import './../../../styles.scss';

.about-me {
    scroll-margin-top: 96px;
    @include dFlex($direction: column);
    padding: 0 100px;
    background: $bc-primary;

    >h2 {
        padding-bottom: 48px;

        &:hover {
            color: $text-secondery;
            transition: color 50ms linear;
        }
    }

    >div {
        @include dFlex();
    }
}

.about-me-info {
    width: 50%;
    @include dFlex($direction: column);
    gap: 48px;

    >div {
        @include dFlex($jc: center, $direction: column);
        gap: 16px;

        >p {
            @include dFlex($ai: center);
            gap: 8px;
        }
    }
}

.about-me-button {
    align-items: center !important;
    padding: 0 0 5px;

    >a {
        text-decoration: none;
        color: $text-black;
        font: 400 23px 'Overpass';
        padding: 20px 60px;
        border: solid 4px $border-black;
        background: transparent;

        &:hover {
            cursor: pointer;
            font-weight: 800;
            padding: 20px 80px;
            transition: padding 100ms ease-in-out;
        }
    }
}

.about-me-img {
    position: relative;
    width: 50%;
    @include dFlex($jc: flex-end, $ai: flex-start);

    >img {
        width: 100%;
        max-width: 533px;
        aspect-ratio: 1 / 1;
        padding: 0 20px 20px 0;
    }

    .about-me-outline {
        position: absolute;
        width: 100%;
        max-width: 533px;
        aspect-ratio: 1 / 1;
        outline: 4px solid transparent;
        margin: 20px 0 0 20px;
    }

    .about-me-outline-color {
        outline-color: $border-black;
        transition: outline-color 50ms linear;
    }
}

@media only screen and (max-width: 1190px) {
    .about-me {
        >h2 {
            padding-bottom: 32px;
        }

        >div {
            flex-direction: column;
        }
    }

    .about-me-info {
        width: 100%;
        gap: 32px;
    }

    .about-me-img {
        @include dFlex($jc: center);
        width: 100%;

        >img {
            padding: 0;
        }

        .about-me-outline {
            margin: 15px 0 0 15px;
        }
    }
}

@media only screen and (max-width: 960px) {
    .about-me {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 768px) {
    .about-me {
        padding: 0 25px;
    }

    .about-me-img {

        >img {
            min-width: 390px;
        }

        .about-me-outline {
            margin: 10px 0 0 10px;
            min-width: 390px;
        }
    }
}