@import './../../../../styles.scss';

.project {
    @include dFlex($jc: space-between);
    color: $text-black;

    >div {
        @include dFlex();
        position: relative;
        width: 100%;
        /* background-color: aquamarine; */

        >a {
            color: $text-black;
            text-decoration: none;
            cursor: default;
        }

        &:hover {
            img {
                filter: grayscale(0%);
            }

            .portfolio-outline {
                outline: 4px solid $border-black;

                >div {
                    width: 72px;
                    margin-right: -40px;
                    transition: width 250ms ease-in;
                }
            }

            .project-info-right {
                right: 0;
                transition: right 250ms linear;
            }
        }
    }
}

.project-number {
    position: absolute;
    top: 0;
    right: 0;
}

.project-image {

    position: relative;
    padding: 34px 0;
    z-index: 2;
    width: 100%;

    img {
        filter: grayscale(100%);
        width: 100%;
        max-width: 620px;
    }
}

.portfolio-outline {
    position: absolute;
    z-index: 3;
    top: 34px;
    max-width: 620px;
    aspect-ratio: 1 / 0.635;
    width: 100%;
    outline: 4px solid transparent;

    >div {
        position: absolute;
        width: 48px;
        @include dFlex($ai: center, $jc: center);
        aspect-ratio: 1 / 1;
        right: 0;
        top: 40%;
        background-color: black;
        border-radius: 50%;
        margin-right: -26px;
    }
}

.portfolio-outline-right {
    margin: 20px 0px 0 20px;
    left: 0;
}

.project-info {
    //extra classe für rechts links

    right: 600px;

    //
    position: absolute;
    bottom: 60px;
    width: 100%;
    max-width: 475px;
    @include dFlex($direction: column);
    gap: 15px;

    h2 {
        font-size: 45px;
    }
}

.Over-400-23 {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 23px;
    color: $text-secondery;
}

.Over-400-16 {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 16px;
}