<section class="project">
    <div>
        <a href="{{projectData.link}}" target="_blank">
            <div class="project-number">
                <h3>{{projectNumber}}/{{projectLength}}</h3>
            </div>

            <div class="project-image">
                <img src={{projectData.img}} alt="">
            </div>


            <div class="portfolio-outline portfolio-outline-right">
                <div><svg width="80%" height="80%" viewBox="0 0 37 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.7031 36.1072L18.4641 0.0148538" stroke="#FFFCF3" stroke-width="2" />
                        <path d="M28.264 26.5463L18.7031 36.1072L9.14225 26.5463" stroke="#FFFCF3" stroke-width="2" />
                    </svg>
                </div>


            </div>
            <div class="project-info project-info-right">
                <h2>{{projectData.projectName}}</h2>
                <span class="Over-400-23">{{projectData.headline}}</span>
                <span class="Over-400-16">{{projectData.description}}</span>
            </div>
        </a>
    </div>
</section>