@import './../../../../styles.scss';

.project {
    color: $text-black;
    margin-right: 16px;

    >div {
        width: 100%;

        >a {
            position: relative;
            color: $text-black;
            text-decoration: none;
            cursor: default;
            width: 100%;
        }

        &:hover {
            img {
                filter: grayscale(0%);
            }

            .portfolio-outline {
                outline: 4px solid $border-black;
                cursor: pointer;

                >div {

                    >svg {
                        width: 72px;
                        rotate: -135deg;
                        background: $bc-secondery;
                        transition:
                            width 250ms 125ms linear,
                            rotate 250ms 125ms linear;
                    }
                }
            }

            .project-info-right {
                right: 0px;
                transition: right 250ms linear;
            }

            .project-info-left {
                left: 0px;
                transition: left 250ms linear;
            }
        }
    }
}

.left {
    @include dFlex();
}

.right {
    @include dFlex($direction: row-reverse);
}

.project-number {
    position: absolute;
    top: 0;

    >h3 {
        font-size: clamp(23px, 3vw, 48px);
    }
}

.project-number-left {
    left: 0;
}

.project-number-right {
    right: 0;
}

.project-image {
    position: relative;
    padding: 34px 0;
    z-index: 2;
    width: 50%;

    img {
        filter: grayscale(100%);
        width: 100%;
        max-width: 620px;
    }
}

.portfolio-outline {
    position: absolute;
    z-index: 3;
    top: 34px;
    max-width: 620px;
    aspect-ratio: 1 / 0.635;
    width: 100%;
    outline: 4px solid transparent;

    >div {
        position: absolute;
        width: 72px;
        @include dFlex($ai: center, $jc: center);
        aspect-ratio: 1 / 1;
        top: 40%;
        background-color: transparent;

        >svg {
            width: 36px;
            height: auto;
            color: transparent;
            border-radius: 50%;
            background: transparent;
            padding: 6px;
        }
    }

    .portfolio-arrow-right {
        right: -38px;
    }

    .portfolio-arrow-left {
        left: -38px;
    }
}

.portfolio-outline-right {
    margin: 20px 0px 0 20px;
    left: 0;
}

.portfolio-outline-left {
    margin: 20px 20px 0 0;
    right: 0;
}

.project-info {
    width: 50%;
    position: relative;
    overflow: hidden;
    @include dFlex($direction: column, $jc: center, $ai: end);


    >div {
        position: absolute;
        max-width: 475px;
        @include dFlex($direction: column);
        gap: 15px;
    }

    .project-info-right {
        right: 800px;
        padding-left: 70px;
    }

    .project-info-left {
        left: 800px;
        padding-right: 70px;
    }

    h2 {
        font-size: clamp(32px, 3vw, 45px);
    }
}

.project-button {
    padding: 20px 0 0;

    >a {
        text-decoration: none;
        color: $text-black;
        padding: 20px 60px;
        border: solid 4px $border-black;
        background: transparent;

        &:hover {
            cursor: pointer;
            font-weight: 800;
            padding: 20px 80px;
            transition: padding 100ms ease-in-out;
        }

        &:active {
            color: $text-secondery;
        }
    }
}

@media only screen and (max-width: 1060px) {
    .project {

        >div {

            &:hover {

                .portfolio-outline {

                    >div {

                        >svg {
                            width: 54px;
                        }
                    }
                }

                .project-info-right,
                .project-info-left {
                    top: 0px;
                    transition: top 250ms linear;
                }

                .project-info-left {
                    left: auto;
                }
            }
        }
    }

    .left,
    .right {
        @include dFlex($direction: column);
    }

    .project-info,
    .project-image {
        width: 100%;
    }

    .project-image-right {
        @include dFlex($jc: end);
        width: 100%;
    }

    .project-image-left {
        width: 100%;
    }

    .project-info {
        height: 300px;
        @include dFlex($direction: column, $jc: start, $ai: start);


        >div {
            max-width: 100%;
        }

        .project-info-right,
        .project-info-left {
            width: 100%;
            max-width: 620px;
            top: -300px;
        }

        .project-info-right {
            left: 0;
            padding-left: 0;
        }

        .project-info-left {
            right: 0;
            padding-right: 0;
            text-align: end;
        }

        h2 {
            font-size: clamp(32px, 3vw, 45px);
        }
    }

}

@media only screen and (max-width: 768px) {

    .project {

        >div {

            &:hover {

                .portfolio-outline {

                    >div {

                        >svg {
                            width: 24px;
                        }
                    }
                }
            }
        }
    }

    .portfolio-outline {

        >div {

            >svg {
                width: 24px;
            }
        }
    }

    .portfolio-outline-right {
        margin: 0px 0px 0 0px;
        left: 0;
    }

    .portfolio-outline-left {
        margin: 0px 0px 0 0;
        right: 0;
    }
}