@import './../../../../styles.scss';

.project {
    color: $text-black;

    >div {
        width: 100%;

        >a {
            position: relative;
            /* @include dFlex(); */
            color: $text-black;
            text-decoration: none;
            cursor: default;
            width: 100%;
        }

        &:hover {
            img {
                filter: grayscale(0%);
            }

            .portfolio-outline {
                outline: 4px solid $border-black;

                >div {

                    >svg {
                        width: 72px;
                        rotate: -135deg;
                        background: $bc-secondery;
                        transition:
                            width 250ms 125ms linear,
                            rotate 250ms 125ms linear;
                    }
                }
            }

            .project-info-right {
                right: 0px;
                transition: right 250ms linear;
            }
        }
    }
}

.left {
    @include dFlex();
}

.right {
    @include dFlex($direction: row-reverse);
} 

.project-number {
    position: absolute;
    top: 0;
    right: 0;

    >h3 {
        font-size: clamp(23px, 3vw, 48px);
    }
}

.project-image {
    position: relative;
    padding: 34px 0;
    z-index: 2;
    width: 50%;

    img {
        filter: grayscale(100%);
        width: 100%;
        max-width: 620px;
    }
}

.portfolio-outline {
    position: absolute;
    z-index: 3;
    top: 34px;
    max-width: 620px;
    aspect-ratio: 1 / 0.635;
    width: 100%;
    outline: 4px solid transparent;

    >div {
        position: absolute;
        width: 72px;
        @include dFlex($ai: center, $jc: center);
        aspect-ratio: 1 / 1;
        right: 0;
        top: 40%;
        background-color: transparent;
        margin-right: -39px;

        >svg {
            width: 36px;
            height: auto;
            color: transparent;
            border-radius: 50%;
            background: transparent;
            padding: 6px;
        }
    }
}

.portfolio-outline-right {
    margin: 20px 0px 0 20px;
    left: 0;
}

.project-info {
    width: 50%;
    position: relative;
    overflow: hidden;
    @include dFlex($direction: column, $jc: center, $ai: end);


    .project-info-right {
        position: absolute;
        right: 0px;
        max-width: 475px;
        padding-left: 70px;
        @include dFlex($direction: column);
        gap: 15px;
    }

    h2 {
        font-size: clamp(32px, 3vw, 45px);
    }
}

.project-button {
    padding: 20px 0 0;

    >a {
        text-decoration: none;
        color: $text-black;
        padding: 20px 60px;
        border: solid 4px $border-black;
        background: transparent;

        &:hover {
            cursor: pointer;
            font-weight: 800;
            padding: 20px 80px;
            transition: padding 100ms ease-in-out;
        }

        &:active {
            color: $text-secondery;
        }
    }
}

.Over-400-23 {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 23px;
    color: $text-secondery;
}

.Over-400-16 {
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 16px;
}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 768px) {}