@import './../../../../styles.scss';

@keyframes hover-link {
    0% {
        padding-bottom: 0px;
    }

    100% {
        padding-bottom: 10px;
    }
}

.footer {
    background: $bc-secondery;
    color: $text-primary;
    padding-left: 100px;
    padding-right: 100px;

    .form-div {
        @include dFlex($direction: column, $ai: center);
    }

    h2 {
        padding-bottom: 40px;
        width: 426px;

        &:hover {
            color: $text-secondery;
            transition: color 50ms linear;
        }
    }

    h4 {
        color: $text-secondery;
        padding: 18px 0;
    }

    >p {
        padding-bottom: 22px;
    }
}

input,
textarea {
    border: none;
    border-bottom: 2px solid $text-primary;
    padding: 15px 55px 15px 25px;
}

form {
    @include dFlex($direction: column);
    width: 50%;
    gap: 20px;

    * {
        background: $bc-secondery;
        color: $text-primary;
        font-size: 16px;
        font-family: 'Overpass';
        font-weight: 400;
        box-sizing: border-box;

        &:focus-visible {
            outline: none;
        }

    }

    .input-label {
        position: relative;

        >input {
            margin-bottom: 10px;
            height: 50px;
            width: 100%;

            /*  padding: 15px 25px 15px 25px; */

            &:hover {
                border: 4px solid $text-primary;
            }
        }

        >label {
            position: absolute;
            left: 25px;
        }

        >img {
            position: absolute;
            top: 10px;
            right: 25px;
        }
    }

    .input-label-empty {

        >input {

            &:focus {

                +label {
                    top: -10px;
                    padding: 0 4px;
                }
            }
        }

        >label {
            top: 15px;
        }
    }

    .input-label-filled {

        >label {
            top: -10px;
            padding: 0 4px;
        }

    }

    .textarea-label {
        position: relative;

        >textarea {
            height: 202px;
            width: 100%;
            /* padding: 15px 25px 15px 25px; */

            &:hover {
                border: 4px solid $text-primary;
            }
        }

        >label {
            position: absolute;
            left: 25px;
        }

        >img {
            position: absolute;
            top: 10px;
            right: 25px;
        }
    }

    .textarea-label-empty {

        >textarea {

            &:focus {
                border: 2px solid $text-primary;

                +label {
                    top: -10px;
                    padding: 0 4px;
                }
            }
        }

        >label {
            top: 15px;
        }
    }

    .textarea-label-filled {

        >label {
            top: -10px;
            padding: 0 4px;
        }
    }

    .validation-text {
        margin-top: 10px;
        font-size: 16px;
        font-family: 'Overpass';
        font-weight: 400;
        color: $text-form-warning;
    }

    .validation-policy {
        margin-top: -20px;
        font-size: 12px;
    }

    .border-valid {
        border: 2px solid $text-primary;
    }

    .border-invalid {
        border: 4px solid $text-primary;
    }

    .checkbox-policy {
        @include dFlex($ai: center);
        width: 100%;

        >div {
            >label {

                >svg {
                    margin-right: 4px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        >p {
            font-size: 14px;

            >a {
                color: $text-secondery;
                text-decoration: none;

                &:hover {
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }

        &:hover {
            svg {
                background-color: $text-secondery;
                border-radius: 50%;
            }

            a {
                font-weight: bold;
            }
        }
    }

    .btn-center {
        @include dFlex($jc: center)
    }

    .btn {
        font-size: 20px;
        padding: 20px 60px 20px 60px;
        width: 50%;
        max-width: 269px;
    }

    .btn-no-submit {
        color: $text-inactive;
        border: 4px solid $text-inactive;
    }

    .btn-submit {
        color: $text-primary;
        border: 4px solid $text-primary;
    }
}

.top-navigation {
    position: fixed;
    right: 25px;
    bottom: 60px;
}

.info {
    @include dFlex($ai: center, $jc: space-between);
    margin-top: 34px;
    height: 69px;
}

.links {
    @include dFlex($jc: space-between);
    width: 204px;
    gap: 20px;
}

.legal-notice {
    @include dFlex($ai: center, $jc: flex-end);
    padding-bottom: 13px;

    a {
        text-decoration: none;
        color: $text-primary;
        cursor: pointer;
    }

    p {
        font-size: 16px;

        &:hover {
            font-weight: bold;
        }
    }
}