@import './../../../../styles.scss';

.footer {
    background: #000000;
    color: #FFFCF3;
    padding-left: 100px;
    padding-right: 100px;

    .form-div {
        @include dFlex($direction: column, $ai: center);
    }

    h2 {
        padding-bottom: 40px;
    }

    h4 {
        color: #00BC8F;
        padding: 18px 0;
    }

    >p {
        padding-bottom: 22px;
    }
}

input, textarea{
    border: none;
    border-bottom: 2px solid #FFFCF3;
    padding: 15px 55px 15px 25px;
}

form {
    @include dFlex($direction: column);
    width: 50%;
    gap: 20px;

    * {
        background: #000000;
        color: #FFFCF3;
        font-size: 16px;
        font-family: 'Overpass';
        font-weight: 400;
        box-sizing: border-box;

        &:focus-visible {
            outline: none;
        }

    }

    .input-label {
        position: relative;

        >input {
            margin-bottom: 10px;
            height: 50px;
            width: 100%;
            
           /*  padding: 15px 25px 15px 25px; */

            &:hover {
                border: 4px solid #FFFCF3;
            }
        }

        >label {
            position: absolute;
            left: 25px;
        }

        >img {
            position: absolute;
            top: 10px;
            right: 25px;
        }
    }

    .input-label-empty {

        >input {

            &:focus {

                +label {
                    top: -10px;
                    padding: 0 4px;
                }
            }
        }

        >label {
            top: 15px;
        }
    }

    .input-label-filled {

        >label {
            top: -10px;
            padding: 0 4px;
        }

    }

    .textarea-label {
        position: relative;

        >textarea {
            height: 202px;
            width: 100%;
            /* padding: 15px 25px 15px 25px; */

            &:hover {
                border: 4px solid #FFFCF3;
            }
        }

        >label {
            position: absolute;
            left: 25px;
        }

        >img {
            position: absolute;
            top: 10px;
            right: 25px;
        }
    }

    .textarea-label-empty {

        >textarea {

            &:focus {
                border: 2px solid #FFFCF3;

                +label {
                    top: -10px;
                    padding: 0 4px;
                }
            }
        }

        >label {
            top: 15px;
        }
    }

    .textarea-label-filled {

        >label {
            top: -10px;
            padding: 0 4px;
        }
    }

    .validation-text{
        margin-top: 10px;
        font-size: 16px;
        font-family: 'Overpass';
        font-weight: 400;
        color: #E61C40;
    }

    .validation-policy{
        margin-top: -20px;
        font-size: 12px;
    }

    .border-valid {
        border: 2px solid #FFFCF3;
    }

    .border-invalid {
        border: 4px solid #FFFCF3;
    }

    .checkbox-policy {
        @include dFlex($ai: center);
        width: 100%;

        >div {
            >label {

                >svg {
                    margin-right: 4px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        >p {
            font-size: 14px;

            >a {
                color: #00BC8F;
                text-decoration: none;

                &:hover {
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }

        &:hover {
            svg {
                background-color: #00BC8F;
                border-radius: 50%;
            }

            a {
                font-weight: bold;
            }
        }
    }

    .btn-no-submit {
        color: #BBBBBB;
        font-size: 20px;
        border: 4px solid #BBBBBB;
        padding: 20px 60px 20px 60px;
    }

    .btn-submit {
        color: #FFFCF3;
        font-size: 20px;
        border: 4px solid #FFFCF3;
        padding: 20px 60px 20px 60px;
    }
}

.top-navigation{
    position: fixed;
    right: 25px;
    bottom: 60px;
}

.info {
    @include dFlex();
    margin-top: 34px;
}

.legal-notice{
    @include dFlex($ai: center, $jc: flex-end);
    padding-bottom: 13px;

    a {
        text-decoration: none;
        color: #FFFCF3;
        cursor: pointer;
    }
    
    p{
        font-size: 16px;

        &:hover {
            font-weight: bold;
        }
    }
}