<section class="legal-notice">
    <a routerLink="/home"><p>{{'legalNotice.back' | translate}}</p></a>
    <br />
    <br />
    <h3 #legal id="legal">{{'legalNotice.privacyPolicy' | translate}}</h3>
    <h3>{{'legalNotice.dataProtectionOverview' | translate}}</h3>
    <h3>{{'legalNotice.generalInformation' | translate}}</h3>
    <p>{{'legalNotice.generalInformationText' | translate}}</p>
    <h3>{{'legalNotice.dataCollection' | translate}}</h3>
    <h4>{{'legalNotice.responsibleParty' | translate}}</h4>
    <p>{{'legalNotice.responsiblePartyText' | translate}}</p>
    <h4>{{'legalNotice.howWeCollectData' | translate}}</h4>
    <p>{{'legalNotice.howWeCollectDataText' | translate}}</p>
    <p>{{'legalNotice.automaticData' | translate}}</p>
    <h4>{{'legalNotice.dataUsage' | translate}}</h4>
    <p>{{'legalNotice.dataUsageText' | translate}}</p>
    <h4>{{'legalNotice.dataRights' | translate}}</h4>
    <p>{{'legalNotice.dataRightsText' | translate}}</p>
    <p>{{'legalNotice.contactForQuestions' | translate}}</p>
    <h3>{{'legalNotice.hosting' | translate}}</h3>
    <p>{{'legalNotice.hostingProvider' | translate}}</p>
    <h3>{{'legalNotice.allInkl' | translate}}</h3>
    <p>{{'legalNotice.allInklText' | translate}}<a
            href="https://all-inkl.com/datenschutzinformationen/" target="_blank"
            rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.</p>
    <p>{{'legalNotice.useOfAllInkl' | translate}}</p>
    <br />
    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    <br />
    <a routerLink="/home"><p>{{'legalNotice.back' | translate}}</p></a>
</section>