@import './../../styles.scss';

*::-webkit-scrollbar-track {
    background: $bc-primary;
}


.legal-notice {
    scroll-margin-top: 25px;
    height: calc(100svh - 100px - 182px - 102px - 26px);
    background: #FFFCF3;
    overflow-y: scroll;
    hyphens: auto;
    padding: 25px 100px;

    a {
        color: $text-black;

        &:hover {
            color: $text-secondery;
            transition: color 50ms linear;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 960px) {
    .legal-notice {
        padding: 25px 50px;
    }
}

@media only screen and (max-width: 768px) {
    .legal-notice {
        height: calc(100svh - 100px - 182px - 123px - 26px);
        padding: 25px 25px;
    }
}