<section class="imprint">
    <a (click)="data.toggleFormView(true); data.scrollToBottom()" routerLink="/home">
        <p>{{'legalNotice.back' | translate}}</p>
    </a>
    <br />
    <br />
    <h3 #imprint id="imprint">{{'legalNotice.imprint' | translate}}</h3>

    <p>Tobias N&ouml;lle<br />
        Am Siepenhohl 10<br />
        <br />
        44265 Dortmund
    </p>
    <br />
    <h3>{{'legalNotice.contact' | translate}}</h3>
    <p>Telefon: +49 (0) 160 650 26 28<br />
        E-Mail: mail&commat;tobias-noelle.de</p>

    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    <br />
    <a (click)="data.toggleFormView(true); data.scrollToBottom()" routerLink="/home">
        <p>{{'legalNotice.back' | translate}}</p>
    </a>
</section>