@keyframes slide {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(60%);
    }
}

.hero {
    height: 100svh;
    background: #FFFCF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.hero-headline {
    display: flex;
    flex-direction: column;

    >h1 {
        text-align: center;
    }
}

.hero-name {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    >h5 {
        color: #00BC8F;
    }
}

.hero-mail-scroll {
    width: 100%;
    display: flex;
    justify-content: space-between;

    >p {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
    }

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.hero-scroll {
    overflow: hidden;

    >svg {
        animation: slide 5s ease-in infinite;
    }
}