.hero {
    height: 100svh;
    background: #FFFCF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    
}

.hero-mail-scroll{
    width: 100%;
    display: flex;
    justify-content: space-between;

    &div {
        display: flex;
    }
}