<app-navbar></app-navbar>
<section class="hero">

    <div class="hero-headline">
        <h1>Frontend</h1>
        <h1>Developer</h1>
        <div class="hero-name">
            <svg width="677" height="4" viewBox="0 0 677 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M675 2H2" stroke="black" stroke-width="3" stroke-linecap="square" />
            </svg>
            <h3>Tobias Nölle</h3>
        </div>
    </div>
    <div class="hero-mail-scroll">
        <p>tobias.noelle&commat;icloud.com</p>
        <div>
            <div class="hero-scroll">
                <svg width="116" height="180" viewBox="0 0 116 180" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M33 145.105L58 170.105L83 145.105" stroke="black" stroke-width="4" />
                    <path d="M58 78V170.105" stroke="black" stroke-width="4" />
                </svg>
            </div>
            <p>Scroll</p>
            <p>Down</p>
        </div>
    </div>



</section>