@keyframes slide {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(60%);
    }
}

.hero {
    height: calc(100svh - 96px);
    background: #FFFCF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 100px;
}

.hero-headline {
    height: 40%;
    display: flex;
    flex-direction: column;

    >h1 {
        text-align: center;
    }
}

.hero-name {
    width: 100%;
    max-width: 1019px;
    display: flex;
    align-items: center;
    gap: 8px;

    >h3 {
        color: #00BC8F;
    }

    >svg {
        width: 100%;
        max-width: 677px;
        flex: 1;
    }
}

.hero-mail-scroll {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 16px;

    >p {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
    }

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        max-width: 60px;
        padding-right: 8px;
    }
}

.hero-scroll {
    overflow: hidden;

    >svg {
        animation: slide 5s ease-in infinite;
    }
}

@media only screen and (max-width: 960px) {
    .hero {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        padding: 0 25px;
    }

    .hero-mail-scroll {
        padding-bottom: 25px;
    }
}