<app-navbar (openCloseEvent)="togglePageView($event)"></app-navbar>
<app-hero [ngClass]="pageViewToggled ? 'show' : 'hide'"></app-hero>
<app-about-me [ngClass]="pageViewToggled ? 'show' : 'hide'" />
<app-animate-arrow [ngClass]="pageViewToggled ? 'show' : 'hide'" />
<app-my-skills [ngClass]="pageViewToggled ? 'show' : 'hide'" id="mySkills" />
<app-animate-arrow [ngClass]="pageViewToggled ? 'show' : 'hide'" />
<app-portfolio [ngClass]="pageViewToggled ? 'show' : 'hide'" id="portfolio" />
<app-references [ngClass]="pageViewToggled ? 'show' : 'hide'" />
<app-animate-arrow [ngClass]="pageViewToggled ? 'show' : 'hide'" />