@import './../../../styles.scss';

.references {
    background: $bc-primary;
    padding: 0 100px;
    @include dFlex($direction: column, $ai: center);

    >h2 {
        padding-bottom: 51px;

        &:hover {
            color: $text-secondery;
            transition: color 50ms linear;
        }
    }

    >p {
        padding-bottom: 40px;
        width: 100%;
        max-width: 560px;
        text-align: center;
    }
}

.references-div {
    width: 100%;
    @include dFlex($jc: center);
    flex-wrap: wrap;
    gap: 24px;
}

.reference {
    width: 100%;
    max-width: 344px;
    padding: 24px 16px;
    border: solid 4px $border-black;
    @include dFlex($direction: column);
    gap: 24px;

    >p {
        font-size: 18px;
    }

    &:hover {
        border-color: $border-green-cyan;
        transition: border-color 50ms linear;

        path {
            fill: $text-secondery;
            transition: fill 50ms linear;
        }
    }
}

.reference-head {
    @include dFlex($direction: column, $ai: center);

    >svg {
        padding-bottom: 16px;
    }

    >span {
        padding-bottom: 8px;
    }

    >p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 960px) {
    .references {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 768px) {
    .references {
        padding: 0 25px;

        >h2 {
            padding-bottom: 40px;
        }
    }
}