@import './../../../styles.scss';

.navbar {
    position: sticky;
    top: 0;
    z-index: 3;
    @include dFlex($direction: column);
    color: $text-black;
    background: $bc-primary;
}

.nav-headline {
    @include dFlex($direction: row, $jc: space-between);
    padding: 30px 100px;
}

.navbar-logo {
    color: $text-black;
}

.navbar-hmenu {


    &:hover {
        cursor: pointer;
    }
}

.navbar-menu {
    position: absolute;
    height: calc(100svh - 102px);
    top: 102px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: $bc-primary;
    @include dFlex($direction: column, $ai: center, $jc: space-between);

    a {
        text-decoration: none;
        color: $text-black;
        padding: 0 100px;
        text-align: center;
    }

    h2 {
        font-size: 96px;
        font-weight: 700;
    }
}

.menu-hide {
    display: none;
}

.menu-show {
    display: flex;
}

.placeholder-navbar {
    width: 100%;
    height: 182px;
    background: linear-gradient(7deg, $bc-secondery 50%, $bc-primary 50%);
}
