@import './../../../styles.scss';
.navbar {
    position: sticky;
    top: 0;
    z-index: 3;
    @include dFlex($jc: space-between);
    color: $text-black;
    background: $bc-primary;
    padding: 30px 100px;
}

.navbar-logo {
    color: $text-black;
}

.navbar-hmenu {


    &:hover {
        cursor: pointer;
    }
}

.navbar-menu {
    background: $bc-primary;
    @include dFlex($direction: column, $ai: center);

    a {
        text-decoration: none;
        color: $text-black;
        padding: 36px 38px;
    }

    h2 {
        font-size: 96px;
        font-weight: 700;
    }
}

.menu-hide {
    display: none;
}

.menu-show {
    display: flex;
}