/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 128px;
    font-family: 'Syne';
    font-weight: 800;
}

h2 {
    font-size: 78px;
    font-family: 'Syne';
    font-weight: 800;
}

h3 {
    font-size: 48px;
    font-family: 'Overpass';
    font-weight: 700;
}

h4 {
    font-size: 32px;
    font-family: 'Overpass';
    font-weight: 700;
}

p {
    font-size: 22px;
    font-family: 'Overpass';
    font-weight: 400;
}

/* syne-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    src: url('./../public/assets/fonts/syne-v22-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('./../public/assets/fonts/syne-v22-latin-700.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* syne-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    src: url('./../public/assets/fonts/syne-v22-latin-800.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('./../public/assets/fonts/syne-v22-latin-800.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* overpass-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('./../public/assets/fonts/overpass-v13-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('./../public/assets/fonts/overpass-v13-latin-regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    src: url('./../public/assets/fonts/overpass-v13-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('./../public/assets/fonts/overpass-v13-latin-700.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}