/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 128px;
}

h5 {
    font-size: 48px;
}

p{
    font-size: 22px;
}

