@import './../../../styles.scss';

.portfolio {
    scroll-margin-top: 96px;
    background: $bc-primary;
    @include dFlex($ai: center, $direction: column);
    padding: 0 100px 120px;

    >h2 {
        padding-bottom: 35px;

        &:hover {
            color: $text-secondery;
            transition: color 50ms linear;
        }
    }

    >p {
        width: 100%;
        max-width: 560px;
        text-align: center;
        padding-bottom: 118px;
    }

    app-portfolio-project {
        padding-bottom: 70px;
    }
}

.project-width {
    width: 100%;
}

@media only screen and (max-width: 960px) {
    .portfolio {
        padding: 0 50px 120px;
    }
}

@media only screen and (max-width: 768px) {
    .portfolio {
        padding: 0 25px 60px;
    }
}